<div *ngIf="id && id==='adminadmin'" class="content">
  adminPage
</div>

<div *ngIf="id && id!=='adminadmin'" class="content">
  <iframe src="https://www.youtube.com/embed/I7CfaDYzTVM" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    class="mt-4 mb-4"></iframe>
  {{family|json}}
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2680.90861206996!2d35.167420515636735!3d47.78322007919677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc5e518094fc6d%3A0xca441b5cbad9faf6!2z0JLQvtC00L7Qs9GA0LDQuQ!5e0!3m2!1suk!2sua!4v1596097557642!5m2!1suk!2sua"
    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>