@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

.content{

    max-width: 910px;
    margin: auto;
    padding-top: 110px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

iframe{
    width: 100%;
}

.label{
    font-size: 18px;
    color: #004c8c;
}

.toggle-text{
    font-size: 16px;
}

.grey{
    background-color: #edf1f7;
}

h2{
    color: #004c8c;
    font-size: 20px;
}

.margin{
    margin-bottom: 150px;
}

::ng-deep {
    .nb-theme-default nb-tabset .tab.active .tab-link::before {
        background-color: #004c8c !important;
    }
    .nb-theme-default nb-tabset .tab.active .tab-link {
        color: #004c8c !important;
    }
    
    .nb-theme-default nb-card {
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }

    .nb-theme-default [nbButton].appearance-outline.status-primary {
        border-color: #004c8c;
        color: #004c8c;
    }

    .nb-theme-default [nbButton].appearance-outline.status-primary:focus {
        border-color: #004c8c !important;
        color: #004c8c !important;
    }

    nb-tab{
        overflow-y: hidden !important;
    }

    nb-tabset{
        box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1) !important;
        padding: 1rem !important;
    }
}

@media (min-width: 1199.98px) { 
    iframe{
        height: 630px;
        min-height: 630px;
    }
}
@media (max-width: 1199.98px) { 
    iframe{
        height: 630px;
        min-height: 630px;
    }
}
@media (max-width: 991.98px) { 
    iframe{
        height: 530px;
        min-height: 530px;
    }
}
@media (max-width: 767.98px) { 
    iframe{
        height: 390px;
        min-height: 390px;
    }
}
@media (max-width: 575.98px) {
    iframe{
        height: 290px;
        min-height: 290px;
    }
}