
.content{

    max-width: 910px;
    margin: auto;
}

iframe{
    width: 100%;
}

@media (min-width: 1199.98px) { 
    iframe{
        height: 630px;
        min-height: 630px;
    }
}
@media (max-width: 1199.98px) { 
    iframe{
        height: 630px;
        min-height: 630px;
    }
}
@media (max-width: 991.98px) { 
    iframe{
        height: 530px;
        min-height: 530px;
    }
}
@media (max-width: 767.98px) { 
    iframe{
        height: 390px;
        min-height: 390px;
    }
}
@media (max-width: 575.98px) {
    iframe{
        height: 290px;
        min-height: 290px;
    }
}