@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

.header{
    position: fixed;
    width: 100%;
    top:0;
    // background-image: url(../assets/105741025_flovin474.png); /* Путь к фоновому рисунку */
    // background-position: center; /* Положение фона */
    // background-repeat: repeat-x;
    h3{
        white-space: break-spaces;
        text-align: center;
        margin: 0;
        color: #004c8c;
        font-size: 20px;
        font-weight: 600;
    }

    img{
        max-height: 110px;
    }

    .second-img{
        position: absolute;
        top: 13px;
        left: 77px;
        height: 73px;
    }
}

.container{
    padding-top: 110px;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    min-width: 100%;
    margin: 0;
}

nb-layout-column{
    padding: 0!important;
}

nb-layout{
    background-color: #e1f5fe;
}

::ng-deep {
    nb-layout-header{
        z-index: 1;
        // min-height: 232px;
        nav{
            display: flex !important;
            // justify-content: center !important;
            height: auto !important;
            padding: 0 !important;
            // min-height: 232px;
            box-shadow: none;
            border-bottom: 1px solid #004c8c;
        }
    }
    nb-layout-column{
        padding-top: 110px !important;
        height: 100% !important;
        overflow-y: scroll !important;
        width: 100% !important;
        min-width: 100% !important;
        margin: 0 !important;
    }
}